.cabecalho{
    width: 100%;
    background-color: pink;
    height: 50px;
    text-align: center;
    

}
.cabecalho__titulo{
    color:#00f;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    
}
ul{
    list-style: none;
    font-family: "Red Hat Display", sans-serif;
    text-align: ;
}
main{

    font-family: "Red Hat Display", sans-serif;

    
}
li a{ 
    justify-content: space-around;
    text-align: center;
   
   
    
}