.cabecalho{
    width: 100%;
    background-color: pink;
    height: 50px;
    text-align: center;
    

}
.cabecalho__titulo{
    color:#00f;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 900;
    
}

li{
    display: inline-block;
    margin: 10px;
}
